$yellow: rgb(229, 202, 14);
$light-gray: #c2c2c2;
$gray: #555555;

@import "components/login.scss";
@import "components/register";
@import "components/inputsAndButtons";

* {
    margin: 0 auto;
}



