<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista Principal</title>
</head>
<body>
  <a href="/edit-profile/<%= userID %>">Click para editar tu perfil</a>
  <a href="/show-profile/<%= userID %>">Ver mi perfil</a> 
  <a href="/products-panel">Panel de tus Productos</a>
</body>
</html>