<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>encartgo | </title>
    <link rel="stylesheet" href="/styles/css/styles.css">
    <link rel="icon" href="/assets/favicon.png" type="image/png">
</head>
<body>
    <section class="commerce__main">
        <div class="commerceImg--container">
            <img src="/assets/food.jpg" alt="item image">
        </div>
        <div class="commerceDescription--container">
            <h2><%= store.bussiness %> </h2>
            <div class="commerce--description">
                <h3>Descripci贸n</h3>
                <p>Description</p>
            </div>
            <div class="commerce--description">
                <h3>Direcci贸n</h3>
                <p>Calle No., Colonia, Estado</p>
                <div class="user--adress"></div>
            </div>
            <div class="especialInstruction">
                <h3>Instrucci贸n especial</h3>
                <input type="text" placeholder="Agrega alguna instrucci贸n">
            </div>
        </div>
        <div class="commerce_main--botones">
            <button id="mensajebtn" class="button">Mandar mensaje</button>
            <button class="button">Quiero comprar</button>
        </div>
        <form method="POST">
          <button type="submit">Enviar info</button>
        </form>
    </section>
</body>
</html>