<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>encartgo | </title>
    <link rel="stylesheet" href="/styles/css/styles.css">
    <link rel="icon" href="/assets/favicon.png" type="image/png">
</head>
<body>
    <section class="commerce__main">
        <div class="commerceImg--container">
            <img src="/uploads/profiles/<%= store.image %>" width="400px" alt="item image">
        </div>
        <% if (store.id) { %>
            <a href="/edit-store/<%= store.id %> ">Editar Perfil</a>
        <% } %>  
        <div class="commerceDescription--container">
            <h2><%= store.bussiness %> </h2>
            <div class="commerce--description">
                <h3>Descripción</h3>
                <p><%= store.description %> </p>
            </div>
            <div class="commerce--description">
                <h3>Dirección</h3>
                <p>Calle No., Colonia, Estado</p>
                <div class="user--adress"></div>
            </div>

            <div class="especialInstruction">
                <form method="POST">
                    <h3>Realiza tu pedido</h3>
                    <input type="text" name="description" placeholder="Describe qué es lo que quieres pedir">
                    <button class="button" type="submit">Realizar pedido</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>