<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav bar</title>
</head>
<body>
    <!-- Navigation bar -->
    <nav>
        <div><img src="/" alt="home"><a href="/">Home</a></div>
        <div><img src="/" alt="order"><a href="/">Orden</a></div>
        <div><img src="/" alt="search"><a href="/">Buscar</a></div>
        <div><img src="/" alt="profile"><a href="/">Cuenta</a></div>
    </nav>

</body>
</html>