// Color schema
$yellow: rgb(229, 202, 14);
$light-gray: #c2c2c2;
$gray: #555555;
$ocean-blue-light: rgb(0, 226, 230);
$ocean-blue: rgb(1, 196, 200);
$ocean-blue-medium: rgb(0, 125, 128);
$ocean-blue-dark: rgb(0, 63, 64);

