$yellow: rgb(229, 202, 14);
$light-gray: #c2c2c2;
$gray: #555555;

@mixin flex ($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-items: $justify;
}
@mixin form {
    @include flex(column, center, center)
    width: 90%;
    height: auto;
    @media screen and (min-width: 700px) {
        width: 500px;
    }
}
@mixin logmain {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 60px 0px;
    @include flex(column, center, center)
}

.login__main {
    @include logmain();
    img {
        margin-bottom: 60px;
    }
    h2 {
        color: $yellow;
        margin-bottom: 40px;
        font-size: 30px;
    }
    form {
       @include form();
    }
}