.delivery__main {
    width: 100%;
    @include flex(column, center, center)
    h2 {
        width: 100%;
        text-align: center;
        background: $ocean-blue;
        color: $ocean-blue-dark;
        box-sizing: border-box;
        text-decoration: underline;
        padding: 20px 0;
    }
    .offer--list {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 95%;
        background: #eaeaea;
        box-sizing: border-box;
        border-radius: 7px;
        padding: 40px;
        @include flex (column, center, center);
        @media screen and (min-width: 700px) {
            width: 700px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
    
}