// Styling
.container {
    & > h1 {
        font-size: 1.65rem;
        font-weight: 800;
        color: #000;
        margin-top: 30%;
    }

    & > input {
        background-color: $light-gray;
        border: none;
        border-radius: 8px;
        height: 3.5rem;
        margin-top: 3%;

        &:active {
            border-color: $light-gray;
        }
    }
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;

    & > hr {
        width: 70%;
        background-color: $light-gray;
    }
}