//Components
@import "components/inputsAndButtons";
@import "components/account";
@import "components/logoAsterdots";

//Layout
@import "layout/login";
@import "layout/register";
@import "layout/home";
@import "layout/search";
@import "layout/inventory";
@import "layout/product";
@import "layout/commerce";

// Colors
@import "variables/colors";

* {
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'JetBrains Mono';
}



